@model EMDomain.Aluno

@{
    ViewData["Title"] = "NovoAluno";
}

<h1 class="text-center">NovoAluno</h1>

<h4>Aluno</h4>

<div class="row text" >
    <div class="col-md-4">
        <form asp-action="NovoAluno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeNascimento" class="control-label"></label>
                <input asp-for="DataDeNascimento" class="form-control" />
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <br/>
            <div class="dropdowm">
                <select asp-for="Sexo" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    <option value="" class="dropdown-item">-- Selecione o Sexo --</option>
                    <option value="Masculino" class="dropdown-item">Masculino</option>
                    <option value="Feminino" class="dropdown-item">Feminino</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group text-center">
                <input type="submit" value="NovoAluno" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Retornar a lista de alunos</a>
            </div>
        </form>
    </div>
</div>

@* <div class="text">
    
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
